*,
*::before,
*::after{
    box-sizing:border-box;
}

body{
    margin:0;
    padding:0;
    font-family:"Segoe UI",sans-serif;
    line-height:1.4;

    background:linear-gradient(180deg,#cfe8ff,#eaf4ff);

    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.card{
    background:#f8c9d4;
    padding:20px;
    border-radius:20px;

    width:90%;
    max-width:320px;

    box-shadow:0 10px 25px rgba(0,0,0,0.15);
    text-align:center;
    position:relative;
}